<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <context:component-scan base-package="org.ncu.spring_coupling_annotation"></context:component-scan>
<!-- 
   
   <bean id="morning" class="org.practice.practiceproject.HaveYourClass">
    </bean>
      <bean id="afternoon" class="org.practice.practiceproject.GoToBed">
    </bean>
      <bean id="evening" class="org.practice.practiceproject.TimetoPlay">
    </bean>
-->   
</beans>





