<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
       
    
     <!--  Simple Way To Make Beans -->

<bean id="calculator" class="org.ncu.Calculator.Calculator">
<property name="addService" ref="additionService"></property>
<property name="subService" ref="subtactionService"></property>
<property name="multiService" ref="multiplicationService"></property>
<property name="divService" ref="divisionService"></property>
</bean>


<bean id="additionService" class="org.ncu.Calculator.AdditionService"></bean>
<bean id="subtactionService" class="org.ncu.Calculator.SubtractionService"></bean>
<bean id="multiplicationService" class="org.ncu.Calculator.MultiplicationService"></bean>
<bean id="divisionService" class="org.ncu.Calculator.DivisionService"></bean>

 
</beans>





